{% extends "base_generic.html" %}


 {% block sidebar %}{% endblock %}
{% block content %}

<style>

  body {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100vh;
              background-color: #244855;
  }
  .card {
      width: 30rem;
      max-width: 400px;
      background-color: #CCCCFF;
      padding: 20px;
      border-radius: 9px;
  }
  .card p, label {
    color: rgb(0, 0, 0);

  }
  
</style>

<div class="card">
  <div class="card-body">
      <h3 class="card-title text-center text-info">Login</h3>
      {% if form.errors %}
              <p class="text-danger">Your username and password didn't match. Please try again.</p>
            {% endif %}
            
            {% if next %}
              {% if user.is_authenticated %}
                <p class="text-danger">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
              {% else %}
                <p class="text-info">Please login with your credentials.</p>
              {% endif %}
            {% endif %}
      <form method="POST">
        {% csrf_token %}
          <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="username" placeholder="Enter email">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          <input type="hidden" name="next" value="{{ next }}">
      </form>
      <div class="card-footer text-center ">
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
