{% extends "base_generic.html" %} {% block sidebar %} {% endblock sidebar %} 
{%block content %}

<style>
  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(174, 238, 234, 1) 39%,
      rgba(208, 148, 233, 1) 65%
    );
  }

  .card {
    background-color: #ccccff;
    padding: 1rem 3rem 3rem;
    border-radius: 9px;
    max-width: 400px;
  }


  input[type='submit'] {
    margin: 10px 0 0 0;

  }

  input {
    padding: 0.4rem 0 0.4rem 0.4rem  ;
  }
  
  input[value='Change my password'] {
    font-size: 1.5rem;
  }
</style>

<div class="card">
    <div class="card-body">
  {% if validlink %}
  <h3 class="card-title text-info">Fill in New Password</h3>
  <p class="card-text">Please enter (and confirm) your new password.</p>
  <form action="" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>
          {{ form.new_password1.errors }}
          <label for="id_new_password1">New password:</label>
        </td>
        <td>{{ form.new_password1 }}</td>
      </tr>
      <tr>
        <td>
          {{ form.new_password2.errors }}
          <label for="id_new_password2">Confirm password:</label>
        </td>
        <td>{{ form.new_password2 }}</td>
      </tr>
      <tr>
        <td colspan="2">
          <input
            type="submit"
            class="form-control btn btn-md btn-primary"
            value="Change my password"
          />
        </td>
      </tr>
    </table>
  </form>
  {% else %}
  <h1>Password reset failed</h1>
  <p>
    The password reset link was invalid, possibly because it has already been
    used. Please request a new password reset.
  </p>
  {% endif %}
</div>
</div>

{% endblock %}
