{% extends "base_generic.html" %}


{% block sidebar %}
  
{% endblock sidebar %}
  
{% block content %}
<style>
  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    //background: linear-gradient(  90deg,  rgba(174, 238, 234, 1) 39%,  rgba(208, 148, 233, 1) 65%);
    background-color: #244855;
  }

  .card {
    max-width: 500px;
    font-size: medium;
    background-color: #CCCCFF;
    border-radius: 9px;
    padding: 2rem;
  }

  .card p {
    color: rgb(109, 107, 107);
  }
</style>
<div class="card">
  <div class="card-body">
    <h3 class="card-title text-info">Password reset link sent</h3>
    <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
  </div>
</div>
{% endblock %}
