{% extends "base_generic.html" %}

{% block content %}
<style>
  .body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .card {
    background-color: #E4DFDE;
    padding: 2rem;
    border-radius: 9px;
  }
</style>

<div class="body">
  <div class="card">
    <div class="card-body ">
      <h1 class="card-title">The password has been changed!</h1>
      <h3 class="text-center card-text"><a href="{% url 'login' %}">log in again?</a></h3>
    </div>
  </div>
</div>
{% endblock %}
