{% extends "base_generic.html" %}

{% block sidebar %}
  
{% endblock sidebar %}
  
{% block content %}
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    //background: linear-gradient(90deg, rgba(174, 238, 234, 1) 39%, rgba(208, 148, 233, 1) 65%);
    background-color: #244855;

  }
  .card {
    width: 30rem;
    max-width: 400px;
    background-color: #CCCCFF;
    padding: 20px;
    border-radius: 9px;
  }

  .card p, label {
    color: rgb(109, 107, 107);
  }

  input[value]{
    font-size: 1.5rem;
  }
</style>

  <div class="card">
    <div class="card-body">
      <h3 class="text-info card-title">Password Reset Form</h3>
      <form action="" method="POST">
        {% csrf_token %}
        <label for="{{ form.email.id_for_label }}" class="card-text">Enter your email</label>
        <p>{{ form.email }}</p>
        {% if form.errors %}
        <div class="text-danger">
          {% for field in form %}
            {% for error in field.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
        <input type="submit" class="btn btn-default btn-sm btn-info form-control" value="Reset password"/>
      </form>
    </div>
  </div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
