* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar-nav {
    padding-top: 20px;
    padding: 0;
    list-style: none;
    height: 100vh;
    background-color: #f0f5f8;
    margin: 0px -13px;
}

.non-link {
    text-align: center;
    padding: 20px 13px 0 ;
    font-size: large;
}

.sidebar-nav a {
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    padding: 5px 14px;
    /* color: #fff; */
}

.sidebar-nav a:hover {
    background-color: #fff;
}

.sidebar-toggle {
    margin: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .ham {
        display: none;
        position: absolute;
        background-color: #f8f8f8;
        z-index: 1000;
    }

    .col-sm-2.active {
        display: block;
    }
}

.main {
    padding: 0 5rem;
}

#logout-form {
    display: inline;
  }
#logout-form button {
    padding: 0;
    margin: 0;
}
  
.header {
  text-align: center;
    padding: 2rem;
}